[Desktop Entry]
Version=1.1
Encoding=UTF-8
Name=SoundRuler
GenericName=Acoustic Analysis
Comment=Sound measurement, graphing and teaching
Comment[be]=Запісаць гукавы кліп
Comment[bg]=Запиши звукови клипове
Comment[ca]=
Comment[cs]=
Comment[da]=
Comment[de]=
Comment[el]=
Comment[es]=Medición de sonidos, gráficas e enseñansa
Comment[fi]=
Comment[fr]=
Comment[he]=הקלט קטעי קול
Comment[hi]=ध्वनि अंश को रिकार्ड करें
Comment[hu]=Hang mérés, rajzolás és tanitás
Comment[it]=
Comment[ja]=サウンドクリップを記録する
Comment[ko]=사운드 클립을 녹음합니다
Comment[lv]=
Comment[mn]=Дууны клипуудыг бичих
Comment[ms]=
Comment[nl]=
Comment[nn]=
Comment[no]=
Comment[pl]=
Comment[pt]=
Comment[pt_BR]=Medição de sons, gráficos e ensino
Comment[ro]=
Comment[ru]=Программа записи звуковых отрывков
Comment[sk]=
Comment[sl]=
Comment[sq]=
Comment[sv]=
Comment[tr]=
Comment[uk]=Запис звукових фрагментів
Comment[vi]=
Comment[zh_CN]=录制声音剪辑
Comment[zh_TW]=錄音
Exec=soundruler
Icon=soundruler.png
StartupNotify=true
Terminal=true
Type=Application
Categories=Application;AudioVideo;
X-Desktop-File-Install-Version=0.3
GenericName[en_US]=Acoustic Analysis
